.header{
    width: 100%;
    color: $black;
    text-align: center;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgb(226, 226, 226);
    a{
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all .3s ease-in-out;
        &:hover{
            border-bottom: 3px solid $red;
            transform: translateY(-3px);
        }
    }
    h1{
        font-size: 3rem;
    }
}